<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" data-provider-thread-count="2">
  <test thread-count="5" name="Test">
    <classes>
      <class name="By_Naveen_TestNG_Framwork.Data_provider"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
