<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="By_Naveen_TestNG_Framwork.Feature_TestNG"/>
      <class name="By_Naveen_TestNG_Framwork.Assertion_In_TestNG_for_Validation"/>
      <class name="By_Naveen_TestNG_Framwork.TestNG_Basic_Anotations"/>
      <class name="By_Naveen_TestNG_Framwork.Tutorial1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->